GODOGS_1 = 1
GODOGS_2 = 2
GODOGS_3 = 3
GODOGS_4 = 4
GODOGS_5 = 5
GODOGS_6 = 6
GODOGS_7 = 7
GODOGS_8 = 8
GODOGS_9 = 9
GODOGS_10 = 10
GODOGS_MIN_1 = -1
GODOGS_MIN_2 = -2
GODOGS_MIN_3 = -3
GODOGS_MIN_4 = -4
GODOGS_MIN_5 = -5
GODOGS_MIN_6 = -6
GODOGS_MIN_7 = -7
GODOGS_MIN_8 = -8
GODOGS_MIN_9 = -9
GODOGS_MIN_10 = -10
